<div class="w-full mb-20">
  <%= link_to 'Back to home', root_path, class: 'bg-orange-600 p-2 rounded text-xs text-white hover:bg-orange-700'%>
</div>
<div class='p2-container' data-controller='project2'>
  <div class='step-view'>
    <div data-project2-target='view' class=''>
      <h1>Step 1</h1>
      <div class='h-[200px] w-[200px] bg-gray-500'></div>
    </div>
    <div data-project2-target='view' class='hidden'>
      <h1>Step 2</h1>
      <div class='h-[200px] w-[200px] bg-gray-500'></div>
    </div>
    <div data-project2-target='view' class='hidden'>
      <h1>Step 3</h1>
      <div class='h-[200px] w-[200px] bg-gray-500'></div>
    </div>
    <div data-project2-target='view' class='hidden'>
      <h1>Step 4</h1>
      <div class='h-[200px] w-[200px] bg-gray-500'></div>
    </div>
    <div data-project2-target='view' class='hidden'>
      <h1>Step 5</h1>
      <div class='h-[200px] w-[200px] bg-gray-500'></div>
    </div>
    <div data-project2-target='view' class='hidden'>
      <h1>Step 6</h1>
      <div class='h-[200px] w-[200px] bg-gray-500'></div>
    </div>
  </div>
  <div class='progress-container mt-5'>
    <div class='progress' data-project2-target='progress'></div>
    <div class='active circle' data-project2-target='circle'> 1 </div>
    <div class='circle' data-project2-target='circle'> 2 </div>
    <div class='circle' data-project2-target='circle'> 3 </div>
    <div class='circle' data-project2-target='circle'> 4 </div>
    <div class='circle' data-project2-target='circle'> 5 </div>
    <div class='circle' data-project2-target='circle'> 6 </div>
  </div>
  <div class=buttons-container>
    <button class='btn' disabled  data-project2-target='prevButton' data-action='click->project2#handlePrev'>Prev</button>
    <button class='btn' data-project2-target='nextButton' data-action='click->project2#handleNext'>Next</button>
  </div>
</div>