:root {
  --primary-color: #0c446a;
  --secondary-color: #e0e0e0;
}

.p2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress-container::before {
  content: '';
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.circle {
  background-color: #f3f4f6;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px var(--secondary-color);
  transition: .4s ease;
}

.circle.active {
  background-color: var(--primary-color);
  color: white;
}

.buttons-container{
  display: flex;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: .4s ease;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

.view-box {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: var(--primary-color);
}

.view-box-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}